
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #0c0d0d;
    color: #ffffff;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


header {
    background-color: #000000;
    padding: 15px 0;
    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 9%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.logo {
    color: #0b0d10;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-left: -20vw;
}

.pic {
    width: 120%;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 5vw;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    background-color: #3a3d42;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: background 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    background-color: #ffffff;
    color: #0b0d10;
}

.ct {
    display: flex;
    gap: 20px;
    list-style: none;
}

.cta-nav {
    background-color: #1a1a1a;
    color: #0b0d10;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: 0.6s;

    color:#fff;
}

.cta-nav:hover {
    background-color: #0f7434;
    color: #0b0d10;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    font-size: 0.9rem;

    transform: scale(1.1);
    transition: 0.6s;
}

.cta-nav1 {
    background-color: #16A34A;
    color: #0b0d10;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    font-size: 0.9rem;

    transition: 0.6s;
}

.cta-nav1:hover {
    background-color: #0f7434;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    font-size: 0.9rem;

    transform: scale(1.1);
    transition: 0.6s;
}

.features-section {
    padding: 60px 0;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 900vh;
}

.section-title {
    background-color: #5a5d64;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 20px;
    margin-bottom: 45px;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.three-columns-container {
    background-color: #d1d1d1;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    color: #232528;
}

.process-section {
    padding: 60px 0 100px 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin-top: 1000vh;
}

.foto {
    width: 594.55px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #7f7f7f;
    opacity: 80%;
}

.title-catalog {
    margin-bottom: 25px;
}

.catalog-grid {
    display: flex;  
    gap: 20px;

    
}

.back {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

    background-color: #f8f4f4;
    padding: 50% 8%;

}

.catalog-item {
    background-color: #ffffff;
    height: 180px;
    border-radius: 6px;
    padding: 20px;
    width: 250px;
    color: #232528;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 500;
    transition: transform 0.2s;
    cursor: pointer;
    transition: 0.6s;

    margin-top: -85vh;
}

.catalog-item:hover i {
    transform: translateY(-5px);
    transition: 0.6s;
    color: #15833d;
}

.fa-shirt {
    font-size: 60px;
    left: 12.6%;
    top: 10%;
    transition: 0.6s;
    position: absolute;
    color: #16A34A;
}

.fa-futbol {
    font-size: 60px;
    left: 26.7%;
    top: 10%;
    transition: 0.6s;
    position: absolute;
    color: #16A34A;
}

.fa-shoelace {
    font-size: 60px;
    left: 41.2%;
    top: 10%;
    transition: 0.6s;
    position: absolute;
    color: #16A34A;
}

.fa-glasses {
    font-size: 60px;
    left: 55.2%;
    top: 10%;
    transition: 0.6s;
    position: absolute;
    color: #16A34A;
}

.fa-mobile-screen-button {
    font-size: 60px;
    left: 69.3%;
    top: 10%;
    transition: 0.6s;
    position: absolute;
    color: #16A34A;
}

.fa-cart-shopping {
    font-size: 60px;
    left: 83.5%;
    top: 10%;
    transition: 0.6s;
    position: absolute;
    color: #16A34A;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 350;
    font-size: 40px;
    z-index: 20;
}

.hero p {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 350;
    font-size: 15px;
    text-align: center;
    width: 40%;
    z-index: 20;
}

.hero a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 350;
    text-align: center;
    z-index: 20;
}

.botao {
    background-color: #16A34A;
    color: #000000;
    padding: 20px;
    width: 20%;
    font-size: 16px;
    text-decoration: none;

    border-radius: 6px;
    z-index: 20;
    transition: 0.6s;
}

.botao:hover {
    background-color: #126932;
    padding: 27px;
    color: #fff;
    font-size: 17px;
    transition: 0.6s;
}

.hero video {
    width: 100%;
    -webkit-mask-image: linear-gradient(to top, transparent, #101828 80%, #101828 20%, transparent);
    mask-image: linear-gradient(to top, transparent, #101828 65%, #101828 35%, transparent);
}

@media (max-width: 968px) {
    .hero-section, .three-columns-container, .process-banner, .catalog-grid {
        grid-template-columns: 1fr;
    }
    .three-columns-container {
        background-color: transparent;
        gap: 20px;
    }
    .column-box {
        background-color: #d1d1d1;
        border-right: none;
        border-radius: 8px;
    }
    .catalog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}